In [1]:
%matplotlib inline

from pathlib import Path

import pandas as pd
import numpy as np
from scipy.stats import trim_mean
from statsmodels import robust
import wquantiles

import seaborn as sns
import matplotlib.pylab as plt

In [14]:
import os
os.getcwd()

'C:\\Users\\a\\git\\Multi-Regional-Input-output-Analysis'

In [25]:
os.chdir('C:/Users/a/git/practical-statistics-for-data-scientists')
os.getcwd()

'C:\\Users\\a\\git\\practical-statistics-for-data-scientists'

In [31]:
AIRLINE_STATS_CSV = 'DATA/airline_stats.csv'
KC_TAX_CSV = 'DATA/kc_tax.csv.gz'
LC_LOANS_CSV = 'DATA/lc_loans.csv'
AIRPORT_DELAYS_CSV = 'DATA/dfw_airline.csv'
SP500_DATA_CSV = 'DATA/sp500_data.csv.gz'
SP500_SECTORS_CSV = 'DATA/ p500_sectors.csv'
STATE_CSV = 'DATA/state.csv'

In [33]:
state=pd.read_csv(STATE_CSV)
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [34]:
state['Population'].mean()

6162876.3

In [40]:
trim_mean(state['Population'],0.1)

4783697.125

In [41]:
state['Population'].median()

4436369.5

In [45]:
np.average(state['Murder.Rate'],weights=state['Population'])

4.445833981123393

In [49]:
wquantiles.median(state['Murder.Rate'], weights=state['Population'])

4.4